# IDEs
.vscode/

# Python virtual environments
venv/
.env/
ennv/
# Python cache
__pycache__/

# Jupyter Notebooks
*.ipynb
#dummy files
dummy/
# Data files
*.csv
*.json.gz
*.zip
data/*

# Logs
*.log

# jar files
jars/
*.jar